* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../fonts/OpenSans-Italic.ttf"); }

body {
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

/* Header */
header {
  background: #ffffff;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 5px #bfbfbf;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }

.header-block {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 2);
  justify-content: space-between; }

.logo-img {
  display: flex;
  grid-area: 1 / 1 / 2 / 2;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 10px 0;
  margin-left: -15px; }

.header-menu {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -15px; }
  .header-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 14px; }
    .header-menu ul a {
      padding: 0 20px;
      text-decoration: none;
      color: #767676; }
    .header-menu ul a:hover {
      background: #eeeeee;
      padding: 10px 20px;
      color: #337ab7; }
    .header-menu ul a:last-child {
      background-color: #337ab7;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 25px; }

/* Hamburger */
.hamburger-menu {
  grid-area: 1 / 2 / 2 / 3;
  display: none;
  justify-content: flex-end;
  align-items: center; }

.hamburger-block {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
  justify-content: center;
  align-items: center;
  background: #337ab7;
  width: 40px;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px; }
  .hamburger-block .hamburger-img {
    width: 20px;
    height: 15px; }

.hamburger-menu:hover {
  cursor: pointer; }

/* Main */
/* Registration */
.registration {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center; }

.registration-block {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px; }

.registration-text {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .registration-text h2 {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px; }
  .registration-text p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #767676;
    font-family: 'OpenSans-Light';
    margin: 0 20px;
    margin-bottom: -9px; }

.registration-form {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  margin-right: -15px; }
  .registration-form h3 {
    font-size: 23px;
    text-align: center;
    align-self: start;
    margin-bottom: 10px; }
  .registration-form .label {
    font-size: 14px;
    line-height: 18.5px;
    color: #767676;
    text-align: left;
    margin: 3px 0; }
  .registration-form input {
    width: 100%;
    padding: 17px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    outline: none;
    margin: 2px 0; }
  .registration-form input::placeholder {
    color: #767676;
    font-size: 14px;
    line-height: 25px; }
  .registration-form input:focus {
    border: 1px solid #5eb0f8;
    box-shadow: 0 0 5px 1px #5eb0f8; }

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 7px; }
  .form-item .form-img {
    width: 7px;
    height: 7px;
    margin: 2px; }

.form-checkbox {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px; }
  .form-checkbox input {
    margin-right: 7px; }
  .form-checkbox p {
    color: #767676;
    font-size: 13px; }
  .form-checkbox a {
    color: #337ab7;
    text-decoration: none;
    font-size: 14px; }
  .form-checkbox .form-img {
    width: 7px;
    height: 7px;
    margin: 2px; }

.btn {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 29px;
  margin-right: -15px; }
  .btn button {
    padding: 19px 98px;
    background-color: #337ab7;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px; }
  .btn button:hover {
    cursor: pointer; }

/* Course */
.course {
  display: flex;
  justify-content: center;
  background-color: #ffffff; }

.course-flex {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .course-flex h2 {
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    font-family: 'OpenSans-Light';
    margin-top: 61px;
    margin-bottom: 28px; }

.course-container {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto; }

.course-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 -15px; }

.course-item {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px; }
  .course-item .course-img {
    width: 80px;
    height: 80px; }
  .course-item p {
    text-align: center;
    color: #767676;
    font-size: 16px;
    line-height: 25px;
    margin-top: 14px;
    margin-bottom: 91px; }
  .course-item .item-title {
    text-align: center;
    border-bottom: 1px solid #337ab7;
    margin: 15px 0; }
    .course-item .item-title h3 {
      font-size: 24px;
      line-height: 38px;
      letter-spacing: 0.4px;
      font-family: 'OpenSans-Light';
      color: #767676;
      padding-bottom: 15px; }

.course-items {
  display: flex; }

.course-container .slick-slider ul {
  margin-bottom: 50px; }

/* Statistic */
.statistic {
  display: flex;
  justify-content: center;
  background-color: #3498db; }

.statistic-block {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
  margin-bottom: 81px;
  overflow: hidden; }

.statistic-item {
  width: 100%;
  max-width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .statistic-item .statistic-img {
    width: 85px;
    height: 65px; }
  .statistic-item .statistic-count {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px; }
  .statistic-item p {
    text-align: center;
    color: #ffffff; }

.statistic-item:nth-child(4n+1) .statistic-img {
  margin-left: -30px; }

.statistic-item:nth-child(4n+1) .statistic-count {
  margin-left: -30px; }

.statistic-item:nth-child(4n+1) p {
  margin-left: -30px; }

.statistic-item:nth-child(4n+2) .statistic-img {
  margin-left: -10px;
  margin-bottom: -10px; }

.statistic-item:nth-child(4n+2) .statistic-count {
  margin-left: -10px;
  margin-top: 30px; }

.statistic-item:nth-child(4n+2) p {
  margin-left: -10px; }

.statistic-item:nth-child(4n+3) .statistic-img {
  margin-right: -10px;
  margin-bottom: -10px; }

.statistic-item:nth-child(4n+3) .statistic-count {
  margin-right: -10px;
  margin-top: 30px; }

.statistic-item:nth-child(4n+3) p {
  margin-right: -10px; }

.statistic-item:nth-child(4n) .statistic-img {
  margin-right: -30px; }

.statistic-item:nth-child(4n) .statistic-count {
  margin-right: -30px; }

.statistic-item:nth-child(4n) p {
  margin-right: -30px; }

/* Feedback */
.feedback {
  display: flex;
  justify-content: center;
  background-color: #ffffff; }

.feedback-flex {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  margin-bottom: -15px; }
  .feedback-flex h2 {
    font-size: 34px;
    text-align: center;
    margin: 23px 0; }

.feedback-container {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto; }

.feedback-block {
  display: flex;
  flex-direction: column;
  text-align: center; }

.feedback-item {
  display: flex;
  flex-direction: column;
  padding-top: 15px; }
  .feedback-item .feedback-quotes {
    display: flex;
    margin: 0 110px;
    margin-bottom: 30px; }
    .feedback-item .feedback-quotes .quotes-img-start {
      width: 30px;
      height: 30px;
      align-self: flex-start;
      margin-top: -15px; }
    .feedback-item .feedback-quotes .quotes-img-end {
      width: 30px;
      height: 30px;
      align-self: flex-end; }
    .feedback-item .feedback-quotes .feedback-text {
      font-family: 'OpenSans-Light';
      font-size: 22px;
      line-height: 37px;
      color: #767676; }
  .feedback-item .feedback-name {
    font-size: 18px;
    line-height: 28px; }
  .feedback-item .feedback-work {
    font-size: 17px;
    line-height: 22px;
    font-family: 'OpenSans-Italic';
    color: #767676;
    margin-bottom: 60px; }

.feedback-container .slick-slider ul {
  margin-top: 50px;
  margin-bottom: 38px; }

/* Video */
.video {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7; }

.video-block {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
  margin-bottom: 37px; }
  .video-block h2 {
    font-size: 34px;
    line-height: 24px;
    text-align: center;
    margin: 30px 0; }
  .video-block .video-item {
    width: 100%;
    max-width: 1020px;
    height: 520px;
    margin: 30px 0; }
  .video-block p {
    margin: 0 -15px;
    font-family: 'OpenSans-Light';
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    text-align: center; }

/* Mentors */
.mentors {
  display: flex;
  justify-content: center;
  background-color: #ffffff; }

.mentors-flex {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px; }
  .mentors-flex h2 {
    font-size: 34px;
    line-height: 28px;
    text-align: center;
    margin: 20px 0; }

.mentors-container {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto; }

.mentors-block {
  display: flex;
  flex-direction: column; }

.mentors-item {
  display: flex; }
  .mentors-item .mentors-img {
    width: 340px;
    height: 355px;
    margin: 0 60px;
    margin-top: -11px; }
  .mentors-item .vova {
    margin-top: 0; }
  .mentors-item .mentors-text {
    display: flex;
    flex-direction: column;
    padding-left: 51px;
    margin-left: -5px; }
    .mentors-item .mentors-text .mentors-name {
      font-size: 20px;
      line-height: 28px;
      font-family: 'OpenSans-Bold';
      color: #337ab7;
      padding-top: 18px;
      padding-bottom: 14px;
      margin-bottom: 30px;
      border-bottom: 1px solid #eeeeee; }
  .mentors-item p {
    font-family: 'OpenSans-Light';
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 13px;
    color: #767676;
    text-align: left; }

.mentors-container .slick-slider ul {
  margin-top: 6px;
  margin-bottom: 63px; }

/* Map */
.map {
  display: flex; }

/* Contacts */
.contacts {
  display: flex;
  justify-content: center;
  background-color: #3498db; }

.contacts-block {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  margin-top: 33px;
  margin-bottom: 35px; }

.contacts-item {
  width: 100%;
  max-width: 165px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contacts-item p {
    color: #ffffff;
    font-size: 13px;
    line-height: 30px;
    margin-top: -5px; }
  .contacts-item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
    margin-top: -5px; }
  .contacts-item .contacts-img {
    width: 50px;
    height: 50px;
    margin-top: 7px;
    margin-bottom: 18px; }
  .contacts-item .contacts-name {
    font-size: 17px;
    line-height: 30px;
    margin-top: -2px; }

.contacts-item:nth-child(4n+1) {
  margin-left: -15px; }

.contacts-item:nth-child(4n) {
  margin-right: -15px; }

/* Footer */
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
  margin-top: auto; }

.footer-block {
  width: 100%;
  max-width: 1220px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px 0; }
  .footer-block p {
    color: #767676;
    font-family: 'OpenSans-Light';
    font-size: 14px;
    line-height: 24px;
    margin-top: 4px; }
    .footer-block p a {
      color: #767676;
      text-decoration: none; }
  .footer-block .footer-company {
    color: #337ab7;
    padding-bottom: 8px; }

.slick-slider ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }
  .slick-slider ul li {
    display: flex;
    width: 15px;
    height: 15px;
    background-color: #b3b3b3;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer; }
  .slick-slider ul .slick-active {
    background-color: #767676; }
  .slick-slider ul button {
    font-size: 0px;
    border: none; }

.slick-slide {
  display: flex;
  justify-content: center;
  outline: none; }

.slick-list {
  overflow: hidden; }

.slick-track {
  display: flex;
  justify-content: center; }

@media (max-width: 850px) {
  body {
    padding-top: 80px; } }

@media (max-width: 320px) {
  body {
    padding-top: 70px; } }

/* Header */
@media (max-width: 850px) {
  .header-menu {
    display: none;
    grid-area: 2 / 1 / 3 / 3;
    margin: 0; }
    .header-menu .logo-img {
      width: 70px;
      height: 70px;
      margin: 5px 0; }
    .header-menu ul {
      flex-direction: column; }
      .header-menu ul a {
        padding: 10px 0; }
      .header-menu ul a:last-child {
        margin-bottom: 15px; }
  .hamburger-menu {
    display: flex; } }

@media (max-width: 320px) {
  .header-block {
    width: 100%;
    max-width: 320px; }
  .logo-img {
    width: 60px;
    height: 60px;
    margin: 5px 0; } }

/* Registration */
@media (max-width: 850px) {
  .registration-block {
    grid-template-columns: 1fr;
    margin-top: 40px; }
  .registration-text {
    grid-area: 1 / 1 / 2 / 2; }
    .registration-text h2 {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 22px; }
    .registration-text p {
      font-size: 16px;
      line-height: 26px;
      margin: 0 10px;
      margin-bottom: 50px; }
  .registration-form {
    grid-area: 2 / 1 / 3 / 2;
    margin-right: -8px; }
    .registration-form h3 {
      align-self: center;
      font-size: 22px;
      line-height: 23px;
      margin-bottom: 11px; }
    .registration-form .label {
      margin-bottom: 4px; }
    .registration-form input {
      padding: 15px; }
  .form-item {
    margin-bottom: 6px; }
  .form-checkbox {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 11px; }
  .btn {
    grid-area: 4 / 1 / 5 / 2;
    margin-right: 0; }
    .btn button {
      padding: 18px 52px; } }

@media (max-width: 365px) {
  .form-checkbox {
    margin-right: 20px; } }

@media (max-width: 320px) {
  .registration-block {
    width: 100%;
    max-width: 320px;
    margin-top: 30px; }
  .registration-text {
    grid-area: 1 / 1 / 2 / 2; }
    .registration-text h2 {
      font-size: 25px;
      line-height: 34px;
      margin-bottom: 14px; }
    .registration-text p {
      font-size: 14px;
      line-height: 23px;
      margin: 0 5px;
      margin-bottom: 55px; }
  .registration-form {
    grid-area: 2 / 1 / 3 / 2;
    margin-right: -1px; }
    .registration-form h3 {
      align-self: center;
      font-size: 23px;
      line-height: 23px;
      margin-bottom: 13px; }
    .registration-form .label {
      margin-bottom: 5px; }
    .registration-form input {
      padding: 12px; }
  .form-item {
    margin-bottom: 5px; }
  .form-checkbox {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 12px; }
  .btn {
    grid-area: 4 / 1 / 5 / 2;
    margin-right: 0; }
    .btn button {
      padding: 18px 52px; } }

/* Course */
@media (max-width: 1200px) {
  .course-item {
    margin: 0 5px; } }

@media (max-width: 1100px) {
  .course-item {
    width: 100%;
    max-width: 300px; } }

@media (max-width: 850px) {
  .course-item {
    max-width: 350px; } }

@media (max-width: 750px) {
  .course-item {
    max-width: 300px; } }

@media (max-width: 600px) {
  .course-item {
    max-width: 350px; } }

@media (max-width: 370px) {
  .course-item {
    max-width: 320px; } }

@media (max-width: 320px) {
  .course-flex {
    width: 100%;
    max-width: 320px; }
    .course-flex h2 {
      font-size: 25px;
      line-height: 26px;
      margin-top: 70px;
      margin-bottom: 35px; }
  .course-container {
    width: 100%;
    max-width: 320px; }
  .course-block {
    margin: 0; }
  .course-item {
    width: 100%;
    max-width: 270px;
    margin: 0; }
    .course-item p {
      font-size: 14px;
      line-height: 22px;
      margin-top: 14px;
      margin-bottom: 98px; }
    .course-item .item-title {
      margin: 0;
      margin-top: 25px; }
      .course-item .item-title h3 {
        font-size: 21px;
        line-height: 22px;
        padding-bottom: 5px; }
  .course-container .slick-slider ul {
    margin-top: -50px;
    margin-bottom: 68px; } }

/* Statistic */
@media (max-width: 850px) {
  .statistic-block {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 60px; }
  .statistic-item {
    width: 100%;
    max-width: 255px; }
    .statistic-item .statistic-count {
      font-size: 21px;
      margin-top: 10px;
      padding-bottom: 7px; }
  .statistic-item:nth-child(4n+1) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n+1) .statistic-count {
    margin: 0; }
  .statistic-item:nth-child(4n+1) p {
    margin: 0;
    margin-bottom: 20px; }
  .statistic-item:nth-child(4n+2) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n+2) .statistic-count {
    margin: 0; }
  .statistic-item:nth-child(4n+2) p {
    margin: 0;
    margin-bottom: 20px; }
  .statistic-item:nth-child(4n+3) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n+3) .statistic-count {
    margin: 0; }
  .statistic-item:nth-child(4n+3) p {
    margin: 0;
    margin-bottom: 20px; }
  .statistic-item:nth-child(4n) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n) .statistic-count {
    margin: 0; }
  .statistic-item:nth-child(4n) p {
    margin: 0;
    margin-bottom: 20px; } }

@media (max-width: 600px) {
  .statistic-block {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 50px; }
  .statistic-item {
    width: 100%;
    max-width: 225px; }
    .statistic-item .statistic-count {
      font-size: 19px;
      margin-top: 5px;
      padding-bottom: 5px; }
  .statistic-item:nth-child(4n+1) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n+1) .statistic-count {
    margin: 0; }
  .statistic-item:nth-child(4n+1) p {
    margin: 0;
    margin-bottom: 10px; }
  .statistic-item:nth-child(4n+2) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n+2) .statistic-count {
    margin: 0; }
  .statistic-item:nth-child(4n+2) p {
    margin: 0;
    margin-bottom: 10px; }
  .statistic-item:nth-child(4n+3) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n+3) .statistic-count {
    margin: 0; }
  .statistic-item:nth-child(4n+3) p {
    margin: 0;
    margin-bottom: 10px; }
  .statistic-item:nth-child(4n) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n) .statistic-count {
    margin: 0; }
  .statistic-item:nth-child(4n) p {
    margin: 0;
    margin-bottom: 10px; } }

@media (max-width: 500px) {
  .statistic-item {
    width: 100%;
    max-width: 175px; } }

@media (max-width: 400px) {
  .statistic-item {
    width: 100%;
    max-width: 145px; }
    .statistic-item .statistic-count {
      font-size: 16px;
      margin: 0;
      padding-bottom: 5px; }
    .statistic-item p {
      font-size: 12px; } }

@media (max-width: 320px) {
  .statistic-block {
    width: 100%;
    max-width: 320px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 55px;
    margin-bottom: 6px; }
  .statistic-item {
    width: 100%;
    max-width: 145px;
    margin-top: -15px;
    margin-bottom: 35px; }
    .statistic-item .statistic-count {
      font-size: 16px;
      margin: 0;
      padding-bottom: 5px; }
    .statistic-item p {
      font-size: 12px; }
  .statistic-item:nth-child(4n+1) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n+1) .statistic-count {
    margin: 0; }
  .statistic-item:nth-child(4n+1) p {
    margin: 0; }
  .statistic-item:nth-child(4n+2) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n+2) .statistic-count {
    margin: 0; }
  .statistic-item:nth-child(4n+2) p {
    margin: 0; }
  .statistic-item:nth-child(4n+3) .statistic-img {
    margin: 0;
    margin-top: -10px; }
  .statistic-item:nth-child(4n+3) .statistic-count {
    margin: 0;
    margin-top: 2px; }
  .statistic-item:nth-child(4n+3) p {
    margin: 0; }
  .statistic-item:nth-child(4n) .statistic-img {
    margin: 0; }
  .statistic-item:nth-child(4n) .statistic-count {
    margin: 0;
    margin-top: 3px; }
  .statistic-item:nth-child(4n) p {
    margin: 0;
    margin-top: 1px; } }

/* Feedback */
@media (max-width: 850px) {
  .feedback-flex {
    margin: 0;
    margin-top: 30px; }
    .feedback-flex h2 {
      font-size: 28px;
      margin: 15px 0; }
  .feedback-item {
    padding-top: 10px; }
    .feedback-item .feedback-quotes {
      margin: 0 55px;
      margin-bottom: 20px; }
      .feedback-item .feedback-quotes .quotes-img-start {
        width: 25px;
        height: 25px;
        margin-top: -10px; }
      .feedback-item .feedback-quotes .quotes-img-end {
        width: 25px;
        height: 25px;
        margin-bottom: 5px; }
      .feedback-item .feedback-quotes .feedback-text {
        font-size: 18px;
        line-height: 28px; }
    .feedback-item .feedback-name {
      margin-top: 5px; }
    .feedback-item .feedback-work {
      margin-bottom: 55px; }
  .feedback-container .slick-slider ul {
    margin-top: 50px;
    margin-bottom: 33px; } }

@media (max-width: 600px) {
  .feedback-flex {
    margin: 0;
    margin-top: 25px; }
    .feedback-flex h2 {
      font-size: 26px;
      margin: 12px 0; }
  .feedback-item {
    padding-top: 5px; }
    .feedback-item .feedback-quotes {
      margin: 0 25px;
      margin-bottom: 10px; }
      .feedback-item .feedback-quotes .quotes-img-start {
        width: 20px;
        height: 20px;
        margin-top: -5px; }
      .feedback-item .feedback-quotes .quotes-img-end {
        width: 20px;
        height: 20px;
        margin: 0; }
      .feedback-item .feedback-quotes .feedback-text {
        font-size: 16px;
        line-height: 25px; }
    .feedback-item .feedback-name {
      margin-top: 7px; }
    .feedback-item .feedback-work {
      margin-bottom: 50px; }
  .feedback-container .slick-slider ul {
    margin-top: 50px;
    margin-bottom: 30px; } }

@media (max-width: 320px) {
  .feedback-flex {
    width: 100%;
    max-width: 320px;
    margin: 0;
    margin-top: 20px; }
    .feedback-flex h2 {
      font-size: 24px;
      margin: 10px 0; }
  .feedback-container {
    width: 100%;
    max-width: 320px; }
  .feedback-item {
    padding: 0; }
    .feedback-item .feedback-quotes {
      margin: 0; }
      .feedback-item .feedback-quotes .quotes-img-start {
        width: 15px;
        height: 15px;
        margin-top: 5px; }
      .feedback-item .feedback-quotes .quotes-img-end {
        width: 15px;
        height: 15px;
        margin-bottom: 10px; }
      .feedback-item .feedback-quotes .feedback-text {
        font-size: 14px;
        line-height: 21px; }
    .feedback-item .feedback-name {
      font-size: 16px;
      line-height: 28px;
      margin-top: 11px; }
    .feedback-item .feedback-work {
      font-size: 14.5px;
      line-height: 22px;
      margin-top: -3px;
      margin-bottom: 50px; }
  .feedback-container .slick-slider ul {
    margin-top: 50px;
    margin-bottom: 28px; } }

/* Video */
@media (max-width: 725px) {
  .video-block {
    margin-top: 43px;
    margin-bottom: 35px; }
    .video-block h2 {
      font-size: 29px;
      line-height: 24px; }
    .video-block .video-item {
      width: 100%;
      height: 360px; }
    .video-block p {
      margin: 0;
      margin-top: -12px;
      margin-bottom: -10px;
      font-size: 16.5px;
      line-height: 29px; } }

@media (max-width: 320px) {
  .video-block {
    width: 100%;
    max-width: 320px;
    margin-top: 40px;
    margin-bottom: 34px; }
    .video-block h2 {
      font-size: 24px;
      line-height: 24px; }
    .video-block .video-item {
      width: 100%;
      height: 190px; }
    .video-block p {
      margin: 0;
      margin-top: -10px;
      margin-bottom: -5px;
      font-size: 15px;
      line-height: 28px; } }

/* Mentors */
@media (max-width: 850px) {
  .mentors-flex {
    margin-top: 40px; }
    .mentors-flex h2 {
      font-size: 29px;
      line-height: 27px;
      margin: 10px 0; }
  .mentors-item {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mentors-item .mentors-img {
      width: 240px;
      height: 250px;
      margin: 0; }
    .mentors-item .mentors-text {
      padding: 0;
      margin: 0; }
      .mentors-item .mentors-text .mentors-name {
        font-size: 19px;
        line-height: 27px;
        padding: 0;
        margin: 25px 0;
        text-align: center; }
    .mentors-item p {
      font-size: 15px;
      line-height: 23px;
      padding-bottom: 12px;
      text-align: center; }
  .mentors-container .slick-slider ul {
    margin-top: 6px;
    margin-bottom: 46px; } }

@media (max-width: 600px) {
  .mentors-flex {
    margin-top: 32px; }
    .mentors-flex h2 {
      font-size: 27px;
      line-height: 26px;
      margin-top: 10px;
      margin-bottom: 7px; }
  .mentors-item {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mentors-item .mentors-img {
      width: 190px;
      height: 200px;
      margin: 0; }
    .mentors-item .mentors-text {
      padding: 0;
      margin: 0; }
      .mentors-item .mentors-text .mentors-name {
        font-size: 18px;
        line-height: 26px;
        padding: 0;
        margin: 22px 0;
        text-align: center; }
    .mentors-item p {
      font-size: 14px;
      line-height: 22px;
      padding-bottom: 11px;
      text-align: center; }
  .mentors-container .slick-slider ul {
    margin-top: 6px;
    margin-bottom: 37px; } }

@media (max-width: 320px) {
  .mentors-flex {
    width: 100%;
    max-width: 320px;
    margin-top: 25px; }
    .mentors-flex h2 {
      font-size: 24px;
      line-height: 26px;
      margin-top: 10px;
      margin-bottom: 5px; }
  .mentors-container {
    width: 100%;
    max-width: 320px; }
  .mentors-item {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mentors-item .mentors-img {
      width: 145px;
      height: 150px;
      margin: 0; }
    .mentors-item .mentors-text {
      padding: 0;
      margin: 0; }
      .mentors-item .mentors-text .mentors-name {
        font-size: 18px;
        line-height: 26px;
        padding: 0;
        margin: 19px 0;
        text-align: center; }
    .mentors-item p {
      font-size: 14px;
      line-height: 22px;
      padding-bottom: 10px;
      text-align: center; }
  .mentors-container .slick-slider ul {
    margin-top: 6px;
    margin-bottom: 29px; } }

/* Contacts */
@media (max-width: 850px) {
  .contacts-block {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 47px;
    margin-bottom: 25px; }
  .contacts-item {
    width: 100%;
    max-width: 155px; }
    .contacts-item p {
      font-size: 12px;
      line-height: 28px;
      margin: 0;
      margin-bottom: 8px; }
    .contacts-item a {
      font-size: 12px;
      line-height: 28px;
      margin: 0;
      margin-bottom: 8px; }
    .contacts-item .contacts-img {
      width: 42px;
      height: 42px;
      margin: 0;
      margin-bottom: 12px; }
    .contacts-item .contacts-name {
      font-size: 16px;
      line-height: 27px;
      margin: 0; }
  .contacts-item:nth-child(4n+1) {
    margin: 0; }
  .contacts-item:nth-child(4n) {
    margin: 0; } }

@media (max-width: 600px) {
  .contacts-block {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 43px;
    margin-bottom: 20px; }
  .contacts-item {
    width: 100%;
    max-width: 145px; }
    .contacts-item p {
      font-size: 12px;
      line-height: 27px;
      margin: 0;
      margin-bottom: 8px; }
    .contacts-item a {
      font-size: 12px;
      line-height: 27px;
      margin: 0;
      margin-bottom: 8px; }
    .contacts-item .contacts-img {
      width: 38px;
      height: 38px;
      margin: 0;
      margin-bottom: 10px; }
    .contacts-item .contacts-name {
      font-size: 16px;
      line-height: 26px;
      margin: 0; }
  .contacts-item:nth-child(4n+1) {
    margin: 0; }
  .contacts-item:nth-child(4n) {
    margin: 0; } }

@media (max-width: 320px) {
  .contacts-block {
    width: 100%;
    max-width: 320px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 15px; }
  .contacts-item {
    width: 100%;
    max-width: 145px; }
    .contacts-item p {
      font-size: 12px;
      line-height: 26px;
      margin: 0;
      margin-bottom: 16px; }
    .contacts-item a {
      font-size: 12px;
      line-height: 26px;
      margin: 0;
      margin-bottom: 16px; }
    .contacts-item .contacts-img {
      width: 35px;
      height: 35px;
      margin: 0;
      margin-bottom: 7px; }
    .contacts-item .contacts-name {
      font-size: 15px;
      line-height: 24px;
      margin: 0;
      margin-bottom: -2px; }
  .contacts-item:nth-child(4n+1) {
    margin: 0; }
  .contacts-item:nth-child(4n) {
    margin: 0; } }

/* Footer */
@media (max-width: 600px) {
  .footer-block {
    margin: 32px 0; }
    .footer-block p {
      margin-top: 5px; }
    .footer-block .footer-company {
      padding-bottom: 4px; } }

@media (max-width: 320px) {
  .footer-block {
    width: 100%;
    max-width: 320px;
    margin: 20px 0; }
    .footer-block p {
      margin-top: 7px; }
    .footer-block .footer-company {
      padding: 0; } }
