* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_fonts";

body {
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

header {
    background: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px 5px #bfbfbf;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.header-block {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 2);
    justify-content: space-between;
}

.logo-img {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 10px 0;
    margin-left: -15px;
}

.header-menu {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-align: center;
        font-size: 14px;
        a {
            padding: 0 20px;
            text-decoration: none;
            color: #767676;
        }
        a:hover {
            background: #eeeeee;
            padding: 10px 20px;
            color: #337ab7
        }
        a:last-child {
            background-color: #337ab7;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 25px;
        }
    }
}

/* Hamburger */

.hamburger-menu {
    grid-area: 1 / 2 / 2 / 3;
    display: none;
    justify-content: flex-end;
    align-items: center;
}
.hamburger-block {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    justify-content: center;
    align-items: center;
    background: #337ab7;
    width: 40px;
    height: 30px;
    border-radius: 3px;
    margin-right: 2px;
    .hamburger-img {
        width: 20px;
        height: 15px;
    }
}
.hamburger-menu:hover {
    cursor: pointer;
}

/* Main */

/* Registration */

.registration {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}

.registration-block {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.registration-text {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #767676;
        font-family: 'OpenSans-Light';
        margin: 0 20px;
        margin-bottom: -9px;
    }
}

.registration-form {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    margin-right: -15px;
    h3 {
        font-size: 23px;
        text-align: center;
        align-self: start;
        margin-bottom: 10px;
    }
    .label {
        font-size: 14px;
        line-height: 18.5px;
        color: #767676;
        text-align: left;
        margin: 3px 0;
    }
    input {
        width: 100%;
        padding: 17px;
        border: 1px solid #bfbfbf;
        border-radius: 5px;
        outline: none;
        margin: 2px 0;
    }
    input::placeholder {
        color: #767676;
        font-size: 14px;
        line-height: 25px;
    }
    input:focus {
        border: 1px solid #5eb0f8;
        box-shadow: 0 0 5px 1px #5eb0f8;
    }
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 7px;
    .form-img {
        width: 7px;
        height: 7px;
        margin: 2px;
    }
}

.form-checkbox {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    input {
        margin-right: 7px;
    }
    p {
        color: #767676;
        font-size: 13px;
    }
    a {
        color: #337ab7;
        text-decoration: none;
        font-size: 14px;
    }
    .form-img {
        width: 7px;
        height: 7px;
        margin: 2px;
    }
}

.btn {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 29px;
    margin-right: -15px;
    button {
        padding: 19px 98px;
        background-color: #337ab7;
        color: #ffffff;
        font-size: 13px;
        text-transform: uppercase;
        border: none;
        border-radius: 30px;
    }
    button:hover {
        cursor: pointer;
    }
}

/* Course */

.course {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.course-flex {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 36px;
        line-height: 55px;
        text-align: center;
        font-family: 'OpenSans-Light';
        margin-top: 61px;
        margin-bottom: 28px;
    }
}

.course-container {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}

.course-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -15px;
}

.course-item {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
    .course-img {
        width: 80px;
        height: 80px;
    }
    p {
        text-align: center;
        color: #767676;
        font-size: 16px;
        line-height: 25px;
        margin-top: 14px;
        margin-bottom: 91px;
    }
    .item-title {
        text-align: center;
        border-bottom: 1px solid #337ab7;
        margin: 15px 0;
        h3 {
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.4px;
            font-family: 'OpenSans-Light';
            color: #767676;
            padding-bottom: 15px;
        }
    }
}

.course-items {
    display: flex;
}

.course-container .slick-slider {
    ul {
        margin-bottom: 50px;
    }
}

/* Statistic */

.statistic {
    display: flex;
    justify-content: center;
    background-color: #3498db;
}

.statistic-block {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
    margin-bottom: 81px;
    overflow: hidden;
}

.statistic-item {
    width: 100%;
    max-width: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .statistic-img {
        width: 85px;
        height: 65px;
    }
    .statistic-count {
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
        color: #ffffff;
    }
}

.statistic-item:nth-child(4n+1) {
    .statistic-img {
        margin-left: -30px;
    }
    .statistic-count {
        margin-left: -30px;
    }
    p {
        margin-left: -30px;
    }
}

.statistic-item:nth-child(4n+2) {
    .statistic-img {
        margin-left: -10px;
        margin-bottom: -10px;
    }
    .statistic-count {
        margin-left: -10px;
        margin-top: 30px;
    }
    p {
        margin-left: -10px;
    }
}

.statistic-item:nth-child(4n+3) {
    .statistic-img {
        margin-right: -10px;
        margin-bottom: -10px;
    }
    .statistic-count {
        margin-right: -10px;
        margin-top: 30px;
    }
    p {
        margin-right: -10px;
    }
}

.statistic-item:nth-child(4n) {
    .statistic-img {
        margin-right: -30px;
    }
    .statistic-count {
        margin-right: -30px;
    }
    p {
        margin-right: -30px;
    }
}

/* Feedback */

.feedback {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.feedback-flex {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    margin-bottom: -15px;
    h2 {
        font-size: 34px;
        text-align: center;
        margin: 23px 0;
    }
}

.feedback-container {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}

.feedback-block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.feedback-item {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    .feedback-quotes {
        display: flex;
        margin: 0 110px;
        margin-bottom: 30px;
        .quotes-img-start {
            width: 30px;
            height: 30px;
            align-self: flex-start;
            margin-top: -15px;
        }
        .quotes-img-end {
            width: 30px;
            height: 30px;
            align-self: flex-end;
        }
        .feedback-text {
            font-family: 'OpenSans-Light';
            font-size: 22px;
            line-height: 37px;
            color: #767676;
        }
    }
    .feedback-name {
        font-size: 18px;
        line-height: 28px;
    }
    .feedback-work {
        font-size: 17px;
        line-height: 22px;
        font-family: 'OpenSans-Italic';
        color: #767676;
        margin-bottom: 60px;
    }
}

.feedback-container .slick-slider {
    ul {
        margin-top: 50px;
        margin-bottom: 38px;
    }
}

/* Video */

.video {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
}

.video-block {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 37px;
    h2 {
        font-size: 34px;
        line-height: 24px;
        text-align: center;
        margin: 30px 0;
    }
    .video-item {
        width: 100%;
        max-width: 1020px;
        height: 520px;
        margin: 30px 0;
    }
    p {
        margin: 0 -15px;
        font-family: 'OpenSans-Light';
        font-size: 18px;
        line-height: 30px;
        color: #767676;
        text-align: center;
    }
}

/* Mentors */

.mentors {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.mentors-flex {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    h2 {
        font-size: 34px;
        line-height: 28px;
        text-align: center;
        margin: 20px 0;
    }
}

.mentors-container {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}

.mentors-block {
    display: flex;
    flex-direction: column;
}

.mentors-item {
    display: flex;
    .mentors-img {
        width: 340px;
        height: 355px;
        margin: 0 60px;
        margin-top: -11px;
    }
    .vova {
        margin-top: 0;
    }
    .mentors-text {
        display: flex;
        flex-direction: column;
        padding-left: 51px;
        margin-left: -5px;
        .mentors-name {
            font-size: 20px;
            line-height: 28px;
            font-family: 'OpenSans-Bold';
            color: #337ab7;
            padding-top: 18px;
            padding-bottom: 14px;
            margin-bottom: 30px;
            border-bottom: 1px solid #eeeeee;
        }
    }
    p {
        font-family: 'OpenSans-Light';
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 13px;
        color: #767676;
        text-align: left;
    }
}

.mentors-container .slick-slider {
    ul {
        margin-top: 6px;
        margin-bottom: 63px;
    }
}

/* Map */

.map {
    display: flex;
}

/* Contacts */

.contacts {
    display: flex;
    justify-content: center;
    background-color: #3498db;
}

.contacts-block {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    margin-top: 33px;
    margin-bottom: 35px;
}

.contacts-item {
    width: 100%;
    max-width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        color: #ffffff;
        font-size: 13px;
        line-height: 30px;
        margin-top: -5px;
    }
    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 13px;
        line-height: 30px;
        margin-top: -5px;
    }
    .contacts-img {
        width: 50px;
        height: 50px;
        margin-top: 7px;
        margin-bottom: 18px;
    }
    .contacts-name {
        font-size: 17px;
        line-height: 30px;
        margin-top: -2px;
    }
}

.contacts-item:nth-child(4n+1) {
    margin-left: -15px;
}

.contacts-item:nth-child(4n) {
    margin-right: -15px;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f7f7f7;
    margin-top: auto;
}

.footer-block {
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px 0;
    p {
        color: #767676;
        font-family: 'OpenSans-Light';
        font-size: 14px;
        line-height: 24px;
        margin-top: 4px;
        a {
            color: #767676;
            text-decoration: none;
        }
    }
    .footer-company {
        color: #337ab7;
        padding-bottom: 8px;
    }
}

.slick-slider {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        li {
            display: flex;
            width: 15px;
            height: 15px;
            background-color: #b3b3b3;
            border: none;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }
        .slick-active {
            background-color: #767676;
        }
        button {
            font-size: 0px;
            border: none;
        }
    }
}
.slick-slide {
    display: flex;
    justify-content: center;
    outline: none;
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    justify-content: center;
}

@import "_medias";